<div class="card">
    <h5 class="card-header">Add Coordinates source from positionstack.com</h5>
    <div class="card-body">
        {{ form_start(form) }}
            <div class="form-errors">
                {{ form_errors(form) }}
            </div>

            <div class="row mb-3">
                <div class="col-3">
                    {{ form_label(form.apikey) }}
                    <button type="button" 
                    class="btn btn-secondary rounded-circle p-0 x25 float-right" 
                    data-toggle="tooltip" 
                    data-html="true"
                    data-placement="top" 
                    title="Api key provided">?</button>
                </div>
                <div class="col-9">
                    {{ form_widget(form.apikey, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="float-right">
                        {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary'} }) }}
                    </div>
                </div>
            </div>

        {{ form_end(form) }}
    </div>
</div>